# Masukan APP ID ambil di web my.telegram.org
API_KEY = "6"

# Masukan API HASH ambil di web my.telegram.org
API_HASH = "eb06d4abfb49dc3eeb1aeb98ae0f581e"

# Masukan String Telethon Bisa di ambil Lewat t.me/StringManRobot
# Atau Ambil Manual dengan menjalankan cmd `bash sessiongen`
STRING_SESSION = ""

STRING_2 = ""

STRING_3 = ""

STRING_4 = ""

STRING_5 = ""

STRING_6 = ""

STRING_7 = ""

STRING_8 = ""

STRING_9 = ""

STRING_10 = ""
